@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-orange-97 font-raleway;
}

.nav-link:nth-child(:last-of-type) {
    @apply bg-orange-75
}

.hero-card {
    box-shadow: 6px 6px 0 #FFBE99;
}
.card_shadow {
    box-shadow: 6px 6px 0 #1E1E1E;
}

.button-shadow {
    box-shadow: 4px 4px 0 #1E1E1E;
}

.number {
    @apply  flex justify-center flex-col font-outfit;
}
.number span:first-child {
    @apply font-extrabold text-[34px];
}
.number span:last-of-type {
    @apply font-medium text-[16px];
}

.contact {
    @apply flex items-center gap-[10px] font-medium font-outfit text-[20px];
}
.contact-icon {
    @apply border-2 inline-block p-[8px] rounded-[6px] border-gray-15;
}

.links a {
    @apply font-outfit font-medium text-[18px] px-[16px]
}

.links a:not(:last-child) {
    @apply border-r-2 border-r-gray-15;
}